<style>

  footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  color: #c5c5c6;
    
}
  
</style>

<footer>
<center> Made by <a href="https://nicsena.tk/">Nicsena</a> | v0.1.9 Alpha (<a class="bold">BROKEN</a>)</center>
</body>