<style>

  #notice { 
  margin-bottom: -5px;
  padding: 10px;
  background-color: #262626;
  display: inline-block;
  width: 100%;
  height:45px;
  max-width: 750px;
  max-height: auto;
  border-radius: 0px;
  text-align: center;
}
  
.bold {
  font-weight: bold;
}
  
</style>


<center>

  <h1>
    Express File Explorer
  </h1>

  
  <div id="notice"> 
  
    <a class="bold">INFO! </a> <a>This is in alpha, and there may be bugs. if you found a bug, click <a href="/reportbug">here</a></a>
  
  </div>
  
    </center>